body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 1.75;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: #3c8aba;
}

a:hover {
  color: #3c8aba;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

section {
  padding: 100px 0;
}

.btn-primary {
    border: 2px solid #3c8aba;
    background-color: white;
    color: #3c8aba;
    font-family: 'Open Sans', sans-serif;
    border-radius: 25px;
}
