html {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #1e4472;
    padding-top: 1rem;
}

h1 {
    font-size: 8vw;
}

h2 {
    font-size: 7vw;
}

h3 {
    font-size: 6vw;
}

h4 {
    font-size: 5vw;
}

p {
    font-size: 4vw;
    line-height: 1.75;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: white;
}

a:hover {
  color: white;
}

.navbar-brand {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.logo {
    height: 55px;
    width: auto;
}

.intro-page {
    background-image: url("../img/clouds-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-container {
    padding: 5rem 0;
}

.intro-text {
    color: white;
}

.btn-primary {
    border: 2px solid #3c8aba;
    background-color: white;
    color: #3c8aba;
    font-family: 'Open Sans', sans-serif;
    border-radius: 25px;
}

.main-btn {
    font-weight: 600;
    padding: .75rem 1.25rem;
    margin-top: 7rem;
    color: #1e4472;
    background-color: white;
    border: none;
}
