html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #1e4472;
  padding-top: 1rem;
}

h1 {
  font-size: 8vw;
}

h2 {
  font-size: 7vw;
}

h3 {
  font-size: 6vw;
}

h4 {
  font-size: 5vw;
}

p {
  font-size: 4vw;
  line-height: 1.75;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.navbar-brand {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  margin-left: .25rem;
  margin-right: 2rem;
}

.logo {
  height: 55px;
  width: auto;
}

.intro-page {
  background-image: url("../img/clouds-bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-container {
  padding: 5rem 0;
}

.intro-text {
  color: white;
}

.btn-primary {
  border: 2px solid #3c8aba;
  background-color: white;
  color: #3c8aba;
  font-family: 'Open Sans', sans-serif;
  border-radius: 25px;
}

.btn-primary:hover {
  border: 2px solid #3c8aba;
  background-color: #3c8aba;
  color: white;
}

.btn-primary:active {
  border: 2px solid #3c8aba;
  background-color: #3c8aba;
  color: white;
}

.main-btn {
  font-weight: 600;
  padding: .75rem 1.25rem;
  margin-top: 7rem;
  color: #1e4472;
  background-color: white;
  border: none;
}

.browse-btn {
  margin-top: 1rem;
}

/*************** Categories ***************/

.categories {
  margin: 2rem 0;
}

.card {
  margin-top: 1rem;
}



/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
